<div class="mt-4 ms-4 w-25">

<h1>Stupid Coaching</h1>

<div class="block ps-2">
<p><%= @question %></p>
<p>-You</p>
</div>

<div class="block bg-light ps-2">
<p><strong><%= @answer %></strong></p>
<p>-Your coach</p>
</div>

<%= link_to "ask a new question", ask_path %>
</div>
