<div class="ms-4 mt-4 w-25">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
  <form action="answer" data-turbo="false" class="d-flex">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
